# Compiler files
cache/
out/
/lib
.claude


# coverage 
lcov.info
coverage/

# Docs
docs/


#local 
.local/
.DS_STORE

# Dotenv file
.env
lcov.info

node_modules
cache_hardhat
artifacts
typechain-types
broadcast
snapshots/
flattened/
addresses.json
addresses-liquidation.json

pyproject.toml
requirements*


borrowParams.json

js-scripts/hardhat/USG/routing/Curve/data/finalRoutesTestRepport.json
js-scripts/hardhat/USG/routing/Curve/data/singleSwaps.json
