# Compiler files
cache/
out/
/lib


# coverage 
lcov.info
coverage/

# Docs
docs/


#local 
.local/

# Dotenv file
.env
lcov.info

node_modules
cache_hardhat
artifacts
typechain-types
broadcast
snapshots/
flattened/
addresses.json

pyproject.toml
requirements*
js-scripts/hardhat/tgUSD/data/*.json